<div id="banner"><a name="home" class="anchor"></a>
<div class="wrapper">
<%= image_tag "iphone_favorites.png", :class => "iphone" %>
<h2>The Gym Membership. Reinvented.</h2>

<ul class="slideshow">
    <li class="inView"><a href="#about">A single pass to Cincinnati's best gyms and studios.</a></li>
    <li><a href="#about">Hundreds of exercise options. One app.</a></li>
    <li><a href="#about">No long-term commitments, contracts, or hidden fees.</a></li>
</ul>
<div class="cta">
    <a href="#about">
        Learn More
    </a>
</div>
</div>
</div>

<div class="process"><a name="about" class="anchor"></a>
    <div class="wrapper">
        <h3>How it works</h3>
            <ul>
                <li class="pass">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">1</span>
                    <h4>Get The App</h4>
                    <p>Get started by downloading our free mobile app, available for either <a href="https://itunes.apple.com/us/app/tapfit/id683430709?mt=8" target="_blank">iPhone</a> or <a href="https://play.google.com/store/apps/details?id=co.tapfit.android" target="_blank">Android</a>.</p>              
                </li>
                <li class="even ruler">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">2</span>
                    <h4>Add FitCoins</h4>
                    <p>Load your TapFit account with <a href="/credits">FitCoins</a> that you can use at any of our partner gyms and studios.</p> 
                </li>
                <li class="plane">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">3</span>
                    <h4>Book Workouts</h4>
                    <p>Once you find a workout you want to join, simply book it and go! TapFit will take care of the rest.</p>                
</li>
                <li class="even last glass">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">4</span>
                    <h4>Earn Rewards</h4>
                    <p>The more you work out, the more we reward you for staying fit. Earn points towards free workouts!</p>
                </li>
            </ul>
    </div>
</div>

<div class="plans"><a name="plans" class="anchor"></a>
<div class="wrapper">

<h3>TapFit Plans</h3>

<section id="pricePlans">
    <ul id="container">
        <li class="plan">
            <ul class="planContainer">
                <li class="price"><p>$56 <span style="text-decoration:line-through">$80</span></p></li>
                <div class="arrow-down"></div> 
                <li class="coins_total"><p>100</p><span>FitCoins</span></li>
                <li class="good_for">
                    <p>For someone who already has a gym membership, but loves trying out new classes every now and then.</p>
                </li>
                <li class="good_for">
                    <p>$0.80 / FitCoin</p>
                </li>
                <li class="button"><a href="#">Pre-Order</a></li>
            </ul>
        </li>

        <li class="plan">
            <ul class="planContainer">
                <li class="price"><p>$122 <span style="text-decoration:line-through">$175</span></p></li>
                <div class="arrow-down"></div> 
                <li class="coins_total"><p>250</p><span>FitCoins</span></li>
                <li class="good_for">
                    <p>For someone who wants flexibility and options, this plan will get you over 10 yoga classes.</p>
                </li>
                <li class="good_for">
                    <p>$0.70 / FitCoin</p>
                </li>
                <li class="button"><a href="#">Pre-Order</a></li>
            </ul>
        </li>

        <li class="plan">
            <ul class="planContainer">
                <li class="price"><p>$210 <span style="text-decoration:line-through">$300</span></p></li>
                <div class="arrow-down"></div> 
                <li class="coins_total"><p>500</p><span>FitCoins</span></li>
                <li class="good_for">
                    <p>For the fitness enthusiast who wants to work out at the best studios several times per week.</p>
                </li>
                <li class="good_for">
                    <p>$0.60 / FitCoin</p>
                </li>
                <li class="button"><a href="#">Pre-Order</a></li>
            </ul>
        </li>
    </ul> <!-- End ul#plans -->
</section>
</div>
</div>

<div class="cities"><a name="cities" class="anchor"></a>
    <!-- Category Filter -->
    <div class="wrapper">
        <h3>Coming Soon to a City Near You</h3>
            <ul>
                <li class="cincinnati">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">1</span>
                    <h4>Cincinnati</h4>
                    <p>100+ locations available for purchase in Downtown, Over-The-Rhine, Hyde Park, and beyond! <a href="#locations">View Partners.</a></p>
                </li>
                <li class="even chicago">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">2</span>
                    <h4>Chicago</h4>
                    <p>Coming Spring 2014! We're busy finalizing deals with 100+ studios in the Chicagoland area. <a href="#plans">Pre-Order.</a></p>
                </li>
                <li class="san_fran">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">3</span>
                    <h4>San Francisco</h4>
                    <p>Coming Summer 2014! We've begun talks with studios throughout the Bay Area. <a href="#plans">Pre-Order.</a></p>
                </li>
                <li class="even last new_york">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">4</span>
                    <h4>New York City</h4>
                    <p>Coming Summer 2014! We're currently adding to our New York City studio base. <a href="#plans">Pre-Order.</a></p>
                </li>
            </ul>
    </div>
</div>

<div class="locations"><a name="locations" class="anchor"></a>
    <!-- Category Filter -->
    <div class="wrapper">
        <h3>Our Partner Fitness Studios</h3>
        <div class="blurb">
        <h4>All of our partner locations have been vetted by our team of experts and meet all of our standards for quality, including . We know you won't be disappointed with any of these gyms or studios.</h4>
        </div>

        <!-- Portfolio Items -->
        <ul class="portfolio group">
            <li class="item" data-id="id-1" data-type="cat-1">
            <%= image_tag "gym-1.png", :width => 300, :height => 225 %>
            <a href="gym-1.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>Core a Movement Studio</h3>
            <p>Cincinnati, OH</p>
            </a>
            </li>
            <li class="item" data-id="id-2" data-type="cat-1">
            <%= image_tag "gym-2.png", :width => 300, :height => 225 %>
            <a href="gym-2.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>The Yoga Bar</h3>
            <p>Cincinnati, OH</p>
            </a>
            </li>
            <li class="item" data-id="id-3" data-type="cat-1">
            <%= image_tag "gym-3.jpeg", :width => 300, :height => 225 %>
            <a href="gym-3.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>The Gym at Carew Towers</h3>
            <p>Cincinnati, OH</p>
            </a>
            </li>
            <li class="item" data-id="id-4" data-type="cat-1">
            <%= image_tag "gym-4.png", :width => 300, :height => 225 %>
            <a href="gym-4.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>The Punch House</h3>
            <p>Cincinnati, OH</p>
            </a>
            </li>
            <li class="item" data-id="id-5" data-type="cat-1">
            <%= image_tag "gym-5.jpg", :width => 300, :height => 225 %>
            <a href="gym-5.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>YMCA - Central Parkway</h3>
            <p>Downtown</p>
            </a>
            </li>
            <li class="item" data-id="id-6" data-type="cat-1">
            <%= image_tag "gym-6.jpg", :width => 300, :height => 225 %>
            <a href="gym-6.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>Cincinnati Bikram</h3>
            <p>Cincinnati, OH</p>
            </a>
            </li>
            <li class="item" data-id="id-7" data-type="cat-1">
            <%= image_tag "gym-7.jpeg", :width => 300, :height => 225 %>
            <a href="gym-7.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>Clear Wellness</h3>
            <p>Cincinnati, OH</p>
            </a>
            </li>
            <li class="item" data-id="id-8" data-type="cat-1">
            <%= image_tag "gym-8.jpg", :width => 300, :height => 225 %>
            <a href="gym-8.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>FitNext</h3>
            <p>Over-The-Rhine</p>
            </a>
            </li>
            <li class="item" data-id="id-9" data-type="cat-1">
            <%= image_tag "gym-9.jpg", :width => 300, :height => 225 %>
            <a href="gym-9.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
            <h3>Pure Barre</h3>
            <p>Cincinnati, OH</p>
            </a>
            </li>
            <div class="clear"></div>  
        </ul>
    </div>
</div>

<div class="employers"><a name="employers" class="anchor"></a>
    <h3>TapFit Corporate Programs</h3>

    <div class="blurb">
    <div class="wrapper">
    <h4>TapFit offers a range of corporate programs including corporate perks, health and wellness campaigns, and fully customizable corporate wellness plans. With a TapFit partnership, your organization is on its way to having healthier, more productive employees!</h4>
    </div>
    </div>

    <div class="testimonials"><a name="testimonials"></a>
    <div class="wrapper">
    <ul>
    <li>
    <%= image_tag "gym-1.png" %>
    <h3>Corporate<br/>Perks</h3>
    <p>Reward your employees for a job well done by giving them the gift of health and fitness.</p>
    </li>
    <li>
    <%= image_tag "gym-2.png" %>
    <h3>Health<br/>Campaigns</h3>
    <p>Small, one-off campaigns designed to inspire healthy habits in the workplace.</p>
    </li>
    <li>
    <%= image_tag "gym-3.png" %>
    <h3>Corporate<br/>Wellness</h3>
    <p>You have a business to run. Let TapFit handle your corporate wellness program.</p>
    </li><div class="clear"></div>
    </ul>
    </div>
    </div>
    </div>
</div>

<a href="#home" class="back-to-top"><%= image_tag "arrow-up.svg" %></a>
