<!-- Banner with large splash background -->
<%= render 'shared/banner' %>

<!-- Features Section -->
<%= render 'shared/features' %>

<!-- Process/Get Started Section -->
<%= render 'shared/process' %>

<!-- Map/Cities Section -->
<%= render 'shared/map' %>

<!-- Locations Section -->

<!-- Testimonials Section -->
<%= render 'shared/testimonials' %>

<!-- Credit Plans Section -->
<%= render 'shared/plans' %>

<div class="back-to-top"><a href="#"></a></div>
