<div id="banner"><a name="home" class="anchor"></a>
    <div class="wrapper">
        <%= image_tag "iphone_favorites.png", :class => "iphone" %>
        <h2>A single pass<br/>
            to your city's<br/>
            best workouts</h2>
        <a href="#features">
            <div class="cta">
                Learn More
            </div>
        </a>
    </div>
</div>

<div class="features"><a name="features" class="anchor"></a>
    <div class="wrapper">
        <div class="heading">
            <h3>Ditch Your Gym Membership</h3>
        </div>
        <ul>
            <li class="left">
                <span class="exclusive-access">Ultimate Flexibility</span>
                <h5>Work Out Anywhere</h5>
                <p>Browse through hundreds of nearby studios and book workouts with a single click. Never find yourself tied to a single gym or studio again.</p> 
            </li>
            <li class="right">
                <span class="no-expiration">No Expiration</span>
                <h5>No expiration, no fees</h5>
                <p>Credits are pay-as-you-go, never expire, and are not required to be used in a specific timeframe. Simply use them when you need them!</p>
            </li>
            <li class="left">
                <span>Thousands of Options</span>
                <h5>One app, thousands of options</h5>
                <p>TapFit offers thousands of group fitness classes and gym passes - including yoga, pilates, barre, strength training, boxing, and more.</p>
            </li>
            <li class="right">
                <span class="save-money">Save Money</span>
                <h5>Save Money</h5>
                <p>The more you buy, the more you save! <strong>Save up to 30%</strong> on your fitness when you pre-load money into your account.</p>
            </li>
            <li class="left">
                <span class="loyalty">Loyalty Rewards</span>
                <h5>Awesome loyalty rewards</h5>
                <p>TapFit rewards you for getting fit by giving you points toward free workouts when you check in at the gym or invite your friends.</p>
            </li>
            <li class="right">
                <span class="analytics">Track Your Fitness</span>
                <h5>Track your fitness</h5>
                <p>Automatically track your fitness, know how many times you went to the gym each week, and easily manage your fitness expenses.</p>
            </li>
        </ul>
    </div> <!-- eo .container -->
</div> <!-- eo .features -->

<div class="process"><a name="about" class="anchor"></a>
    <div class="wrapper">
        <h3>Take control of your fitness</h3>
            <ul>
                <li class="pass">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">1</span>
                    <h4>Get The App</h4>
                    <p>Get started by downloading our free mobile app, available for either <a href="https://itunes.apple.com/us/app/tapfit/id683430709?mt=8" target="_blank">iPhone</a> or <a href="https://play.google.com/store/apps/details?id=co.tapfit.android" target="_blank">Android</a>.</p>              
                </li>
                <li class="even ruler">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">2</span>
                    <h4>Pre-Load Credits</h4>
                    <p>Load your TapFit account with money that you can use at any of our partner gyms and studios.</p> 
                </li>
                <li class="plane">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">3</span>
                    <h4>Book Workouts</h4>
                    <p>Once you find a workout you want to join, simply book it and go! TapFit will take care of the rest.</p>                
</li>
                <li class="even last glass">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">4</span>
                    <h4>Earn Rewards</h4>
                    <p>The more you work out, the more we reward you for staying fit. Earn points towards free workouts!</p>
                </li>
            </ul>
    </div>
</div>

<div class="plans"><a name="plans" class="anchor"></a>
<div class="wrapper">

<div class="heading">
    <h3>Give the gift of fitness</h3>
    <p>TapFit workout credits can be used at any gym or studio in our network and never expire. Pre-load your account and save up to 50% on each workout.</p>
</div>

<section id="pricePlans">
    <ul id="container">
        <% @packages.each do |package| %>
            <li class="plan">
                <ul class="planContainer">
                    <li class="price"><h2>$<%= package.fit_coins %></h2><p>in workout credits</p></li>
                    <ul class="planDetails">
                        <li class="left">Workouts:</li>
                        <li class="right"><%= 5 * (package.fit_coins/45).round(0) %>*</li>
                    </ul>
                    <ul class="planDetails">
                        <li class="left">List Price:</li>
                        <li class="right">$<del><%= package.fit_coins %></del></li>
                    </ul>
                    <div class="clear"></div>
                    <ul class="planDetails">
                        <li class="left">Sale Price:</li>
                        <li class="right showoff"><strong>$<%= package.amount %></strong></li>
                    </ul>
                    <div class="clear"></div>
                    <ul class="planDetails">
                        <li class="left">Savings:</li>
                        <li class="right"><strong>$<%= (package.fit_coins - package.amount) %></strong> (<%= (100 - (package.amount.to_f/package.fit_coins.to_f)*100).to_i %>%)</li>
                    </ul>
                    <div class="clear"></div>
                    <li class="preorder-button" id="<%= package.id %>"><a href="#">Purchase</a></li>
                </ul>
            </li>
        <% end %>
    </ul> <!-- End ul#plans -->
    <p>* Workout pricing varies based on the type of class and the location.<br/>The above workout estimates are for illustrative purposes only. Actual numbers may vary.</p>
</section>
</div>
</div>

<div class="cities"><a name="cities" class="anchor"></a>
    <!-- Category Filter -->
    <div class="wrapper">
        <div class="heading">
            <h3>Coming Soon to a City Near You</h3>
        </div>
            <ul>
                <li class="cincinnati">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">1</span>
                    <h4>Cincinnati</h4>
                    <p>Available now with studios in Downtown, Over-The-Rhine, Hyde Park, and more! <a href="#plans">Purchase today!</a></p>
                </li>
                <li class="even chicago">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">2</span>
                    <h4>Chicago</h4>
                    <p><strong>Coming Spring 2014!</strong> Want us to notify you when we're available in Chicago? <a href="/users/sign_up">Sign up today!</a></p>
                </li>
                <li class="san_fran">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">3</span>
                    <h4>San Francisco</h4>
                    <p><strong>Coming Spring 2014!</strong> Want us to notify you when we're available in San Francisco? <a href="/users/sign_up">Sign up today!</a></p>
                </li>
                <li class="even last new_york">
                    <div class="animation"></div> <!-- eo .animation -->
                    <span class="drop-cap">4</span>
                    <h4>New York City</h4>
                    <p><strong>Coming Spring 2014!</strong> Want us to notify you when we're available in New York? <a href="/users/sign_up">Sign up today!</a></p>
                </li>
            </ul>
    </div>
</div>

<div class="locations"><a name="locations" class="anchor"></a>
    <div id="map_canvas" style="width:100%; height:700px;"></div>
</div>

<!-- Pre-order form modal -->
<%= render 'shared/modal' %>

<%= javascript_tag do %>
    window.packages = <%=raw Package.limit(4).to_json %>;
    window.places = <%=raw Place.where(:can_buy => true).to_json %>;
<% end %>
    
