<div id="banner">
<div class="wrapper">
<h2>A Better Gym Membership</h2><!--Adjust font-size in css if required here-->
<a href="#about" class="button-1">Learn More</a>
</div>
</div>

<div class="dividerBlurb stickyDiv">
    <div class="promotion"><a href="/plans">30 days left to get the 30% pre-order discount!</a></div>
    <h4>A Single Membership to Your City's Best Fitness.</h4>
</div>

<div class="about"><a name="about"></a>
    <div class="wrapper">
        <%= image_tag "iphone_map.png", :class => "iphone", :id => "iphone-1" %>
        
        <section id="lightbox">
            <ul id="boxes">
                <li class="box">
                    <ul class="lightboxContainer">
                        <li class="title"><h2>What is TapFit?</h2></li>
                        <li>
                            <ul class="options">
                                <li>&bull; A single membership to the best fitness studios in your city.</li>
                                <li>&bull; View and book all your workouts with our app or on the web.</li>
                                <li>&bull; Access to over 100 classes each week at the best studios.</li>
                                <li>&bull; No annual contracts, monthly minimums, or hidden fees.</li>
                            </ul>
                        </li>
                        <li class="button"><a href="/plans">Request An Invite</a></li>
                    </ul>
                </li>
            </ul> <!-- End ul#plans -->
        </section>
    </div>
</div>


<div class="wrapper"><a name="portfolio"></a>
<!-- Category Filter -->

<div class="sectionHeader">
<div class="wrapper">
<h4>Our Partner Fitness Studios</h4>
</div>
</div>

<ul class="filter group"> 
<li class="current all"><a href="#">Featured</a></li> 
<li class="cat-1"><a href="#">Chicago</a></li> 
<li class="cat-2"><a href="#">Cincinnati</a></li> 
<li class="cat-5"><a href="#">San Francisco</a></li> 
</ul><div class="clear"></div>          

<!-- Portfolio Items -->
<ul class="portfolio group">

<% $i = 1 %>
<% while $i < 10 do %>
    <li class="item" data-id="id-<%= $i %>" data-type="cat-<%= ($i%2)+1 %>">
    <%= image_tag "gym-" + (($i % 2) + 1).to_s + ".png", :width => 300, :height => 225 %>
    <a href="gym-<%= $i.to_s %>.jpg" rel="prettyPhoto[portfolio]" class="photo-overlay">
    <h3>Core a Movement Studio</h3>
    <p>Cincinnati, OH</p>
    </a>
    </li>
  <% $i += 1 %>
<% end %>
 
<div class="clear"></div>  
</ul>
</div>

<ul class="filter group"> 
</ul><div class="clear"></div>          

<div class="plans" id="packages"><a name="plans"></a>
<div class="wrapper">

<div class="sectionHeader">
<div class="wrapper">
<h4>TapFit Membership Packages</h4>
</div>
</div>

<section id="pricePlans">
<ul id="plans">

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>10 FitCoins</h2></li>
<li class="price"><p>$56 <span style="text-decoration:line-through">$80</span></p></li>
<li>
<ul class="options">
<li>10 <span>FitCoins</span></li>
<li>$8 / FitCoin</li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 10 FitCoins?</a></li>
</ul>
</li>
<li class="button"><a href="#">Pre-Order</a></li>
</ul>
</li>

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>25 FitCoins</h2></li>
<li class="price"><p>$122 <span style="text-decoration:line-through">$175</span></p></li>
<li>
<ul class="options">
<li>25 <span>FitCoins</span></li>
<li>$7 / FitCoin <span> (save 12.5%)</span></li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 25 FitCoins?</a></li>
</ul>
</li>
<li class="button"><a href="#">Pre-Order</a></li>
</ul>
</li>

<li class="plan">
<ul class="planContainer">
<li class="title"><h2>50 FitCoins</h2></li>
<li class="price"><p>$210 <span style="text-decoration:line-through">$300</span></p></li>
<li>
<ul class="options">
<li>50 <span>FitCoins</span></li>
<li>$6 / FitCoin <span> (save 25%)</span></li>
<li>Free <span>mobile booking</span></li>
<li>24/7 <span>customer support</span></li>
<li><a href="/credits">What can I do with 50 FitCoins?</a></li>
</ul>
</li>
<li class="button"><a href="#">Pre-Order</a></li>
</ul>
</li>
</ul> <!-- End ul#plans -->
</section>
</div>
</div>

<div class="blurb">
<div class="wrapper">
<h4>FitCoins are used like cash in the TapFit app. Workouts cost between 1 and 3 FitCoins depending on the type of class. For example, the Basic Plan will get you approximately 25 gym visits, 12 yoga classes, or 8 pilates classes.</h4>
</div>
</div>

<a href="#" class="back-to-top"><%= image_tag "arrow-up.svg" %></a>
