<!-- Banner with large splash background -->
<%= render 'shared/banner' %>

<!-- Features Section -->
<%= render 'shared/features' %>

<!-- Map/Cities Section -->
<%= render 'shared/map' %>

<!-- Process/Get Started Section -->
<%= render 'shared/process' %>

<!-- Locations Section -->
<%= render 'shared/locations' %>

<!-- Credit Plans Section -->
<%= render 'shared/plans' %>

<div class="back-to-top"></div>
