<!-- Banner with large splash background -->
<%= render 'shared/banner' %>

<!-- Features Section -->
<%= render 'shared/features' %>

<!-- Process/Get Started Section -->
<%= render 'shared/process' %>

<!-- Map/Cities Section -->
<%= render 'shared/map' %>

<!-- Locations Section -->

<!-- Testimonials Section -->
<%= render 'shared/testimonials' %>

<!-- Credit Plans Section -->
<%= render 'shared/plans' %>

<div class="mobile-promotion">
    <div class="wrapper">
        <nav>
            <ul class="navigation">
              <% if request.user_agent =~ /Android/i %>
                <%= link_to(android_path, :class => "android-download-button") do %>
                  <li>Download TapFit</li>
                <% end %>
              <% else %>
                <%= link_to(iphone_path, :class => "iphone-download-button") do %>
                  <li>Download TapFit</li>
                <% end %>
              <% end %>
            </ul>
        </nav>
    </div>
</div>

<script type="text/javascript"> 
  mixpanel.track("Splash page loaded");
</script>
