<%= form_for [@place, @photo], :html => { :multipart => true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :place_id, :value => @place.id %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.text_field :url %>
  </div>

  <div class = "field">
    <label for="icon_photo">Icon photo?</label>
    <%= check_box_tag("icon_photo", 1) %>
  </div>

  <div class = "field">
    <label for="cover_photo">Cover photo?</label> 
    <%= check_box_tag("cover_photo", 1) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
