<div id="tapfit_splash">
    <div id="header">
        <div class="centerizer">
        <ul>
            <li><a class="link_to_what">WHAT WE DO</a></li>
            <li><a class="link_to_who">WHO WE ARE</a></li>
            <li><a class="link_to_trainers">GYMS + STUDIOS</a></li>
            <li><a class="link_to_wellness">CORPORATE WELLNESS</a></li>
            <li><a href="http://blog.tapfit.co" target="_blank">BLOG</a></li>
        </ul>
        </div>
    </div>
    <div class="splash_container" id="top">
        <div class="centerizer">
            <%= image_tag "splash_iphone.png", :class => "splash_phone" %>
            <div id="top_content">
              <%= image_tag "logo_horizontal.png", :class => "splash_logo" %>
              <p id="top_content_tagline">
                <%= image_tag "tagline.png" %>
                <br/><br/><br/>
                TapFit is the best way to find and book nearby fitness.<br/>We remove the friction from going to work out.
              </p>
              <a href="https://itunes.apple.com/us/app/tapfit/id683430709?ls=1&mt=8" id="top_content_cta" target="_blank"></a>
              <div id="top_content_social_links">
              </div>
            </div>
        </div>
    </div>
    <div class="splash_container" id="benefits_link">
        <div class="centerizer">
        <a href="#benefits" class="link_to_benefits">See what we're all about...</a>
        </div>
    </div>
    <div class="splash_container" id="benefits">
        <div class="centerizer">
        <%= image_tag "benefits_ss_1.png", :class => "benefits_ss" %>
        <div id="benefits_content">
            <p>TapFit is fitness on your own terms. Browse through hundreds of expertly-curated gyms and studios, view upcoming class schedules, and book classes - all through the convenience of your mobile phone.</p>
            <a class="link_to_what"><h1 style="color:#ffffff;cursor:pointer;">&darr;</h1></a>
        </div>
        </div>
    </div>
    <div class="splash_container" id="what">
        <div class="centerizer">
        <%= image_tag "what_icon.png", :class => "icon_right", :id => "what_icon" %>
        <div id="what_content">
            <h1>What is TapFit?</h1>
            <p>TapFit is a mobile-only solution for finding a workout whenever you want, wherever you are. Studios give us last-minute deals on unsold classes, with discounts up to 50% off the normal drop-in rates. You book workouts easily and securely on your smartphone.</p>
        </div>
        </div>
    </div>
    <div class="splash_container" id="who">
        <div class="centerizer">
        <a href="/" class="link_to_top"><%= image_tag "back_to_top.png", :class => "back_to_top" %></a>
        <%= image_tag "who_icon.png", :class => "icon_left", :id => "who_icon" %>
        <div id="who_content">
            <h1>Who We Are</h1>
            <p>TapFit is a team of fitness experts and enthusiasts with a passion for bringing technology to an industry that needs it. We believe in doing things differently, in empowering individuals, and in creating a healthier, more active world.</p>
        </div>
        </div>
    </div>
    <div class="splash_container" id="trainers">
        <div class="centerizer">
        <%= image_tag "trainers_icon.png", :class => "icon_right", :id => "trainers_icon" %>
        <div id="trainers_content">
            <h1>For Gyms & Studios</h1>
            <p>People want to work out, but sometimes life gets in the way. Join us in making it easier for people to grab a workout, one studio at a time.<br/><br/><a href="mailto:scott@tapfit.co" style="text-decoration:none;">Become a TapFit partner today!</a></p>
        </div>
        </div>
    </div>
    <div class="splash_container" id="wellness">
        <div class="centerizer">
        <%= image_tag "wellness_icon.png", :class => "icon_left", :id => "wellness_icon" %>
        <div id="wellness_content">
            <h1>TapFit & Wellness</h1>
            <p>Improve employee health and well-being with the TapFit Wellness Plan. Give your workforce access to the best gyms and studios throughout the United States. At home or on the road, TapFit enables your employees to stay fit, have fun, and be more productive.<br/><br/><a href="mailto:nick@tapfit.co" style="text-decoration:none;">Get more information!</a></p>
        </div>
        </div>
    </div>
    <div id="footer">
        <h2>Less work. More workouts.</h2>
        <a href="https://itunes.apple.com/us/app/tapfit/id683430709?ls=1&mt=8" target="_blank"><%= image_tag "appstore_icon_small.png" %></a>
    </div>
</div>
