<div id="tapfit_splash">
    <div id="header">
        <ul>
            <li class="link_to_what">WHAT IS TAPFIT?</li>
            <li class="link_to_who">OUR MISSION</li>
            <li class="link_to_trainers">FOR TRAINERS</li>
            <li class="link_to_blog"><a href="http://blog.tapfit.co" target="_blank">BLOG</a></li>
        </ul>
    </div>
    <div class="splash_container" id="top">
        <%= image_tag "splash_iphone.png", :class => "splash_phone" %>
        <div id="top_content">
          <%= image_tag "logo_horizontal.png", :class => "splash_logo" %>
          <p id="top_content_tagline">
            <%= image_tag "tagline.png"%>
            <br/><br/><br/>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="https://itunes.apple.com/us/app/tapfit/id683430709?ls=1&mt=8" id="top_content_cta" target="_blank"></a>
          <div id="top_content_social_links">
          </div>
        </div>
    </div>
    <div class="splash_container" id="benefits_link">
        <a href="#benefits" class="link_to_benefits">See what we're all about</a>
    </div>
    <div class="splash_container" id="benefits">
        <%= image_tag "benefits_ss_1.png", :class => "benefits_ss" %>
        <div id="benefits_content">
            <h1>The Best Studios</h1>
            <p>TapFit's team of fitness experts works hard to curate the best gyms in the country. So whether you're moving across the country, traveling for work, or just want to try something new, TapFit will always be there with the best fitness recommendations.</p>
        </div>
    </div>
    <div class="splash_container" id="what">
        <%= image_tag "what_icon.png", :class => "icon_right", :id => "what_icon" %>
        <div id="what_content">
            <h1>What is TapFit?</h1>
            <p>TapFit's team of fitness experts works hard to curate the best gyms in the country. So whether you're moving across the country, traveling for work, or just want to try something new, TapFit will always be there with the best fitness recommendations.</p>
        </div>
    </div>
    <div class="splash_container" id="who">
        <%= image_tag "who_icon.png", :class => "icon_left", :id => "who_icon" %>
        <div id="who_content">
            <h1>Who is TapFit?</h1>
            <p>TapFit's team of fitness experts works hard to curate the best gyms in the country. So whether you're moving across the country, traveling for work, or just want to try something new, TapFit will always be there with the best fitness recommendations.</p>
        </div>
    </div>
    <div class="splash_container" id="trainers">
        <%= image_tag "trainers_icon.png", :class => "icon_right", :id => "trainers_icon" %>
        <div id="trainers_content">
            <h1>For Trainers</h1>
            <p>TapFit's team of fitness experts works hard to curate the best gyms in the country. So whether you're moving across the country, traveling for work, or just want to try something new, TapFit will always be there with the best fitness recommendations.</p>
        </div>
    </div>
    <div id="footer">
    </div>
</div>

