<h1> TapFit Stats </h1>

<table border="1" width="400">
  <tr>
    <th><b> Week </b> </th>
    <th><b> Total Purchases </b></th>
    <th><b> Week Total Purchases </b></th>
    <th><b>WoW Purchase Growth </b></th>
    <th><b> Total Amount Purchased </b> </th>
    <th><b> Week Purchase Amount </b> </th>
    <th><b> WoW Amount Growth </b> </th>
    <th><b> Total Registers </b> </th>
    <th><b> Week Registers </b> </th>
    <th><b> WoW Registers </b> </th>
  </tr>
  <% @stats.each do |stat| %>

    <tr>
      <td> <%= stat.start_date.strftime("%b %e %Y") %> </td>
      <td> <%= stat.total_purchases %> </td>
      <td> <%= stat.wow_purchase_total %> </td>
      <td> <%= stat.wow_purchase_total_percentage %> </td>
      <td> <%= stat.total_amount_purchased %> </td>
      <td> <%= stat.wow_purchase_amount %> </td>
      <td> <%= stat.wow_purchase_amount_percentage %> </td>
      <td> <%= stat.total_registers %> </td>
      <td> <%= stat.wow_register_total %> </td>
      <td> <%= stat.wow_register_total_percentage %> </td>
    </tr>
  <% end %>
</table>

