<!DOCTYPE html>
<html lang="en">
<head>
    <title>TapFit - A Better Gym Membership</title>

    <%= render 'shared/meta' %>
    <script type="text/javascript" src="//use.typekit.net/pgg1qmn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--<meta name="apple-itunes-app" content="app-id=683430709">-->
    
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "6703c587-a8f8-4920-9f59-f892bc71d453", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43021003-1']);
        _gaq.push(['_trackPageview', {
            'page': location.pathname + location.search + location.hash,
            'title': location.hash.substring(1)}]);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>

    <!-- Header -->
    <%= render 'shared/navigation' %>

    <!-- Body -->
    <%= yield %>

    <!-- Footer -->
    <%= render 'shared/footer' %>

</body>
</html>
