<!DOCTYPE html>
<html lang="en">
<head>
    <title>TapFit - A Better Gym Membership</title>

    <%= render 'shared/meta' %>
    <script type="text/javascript" src="//use.typekit.net/pgg1qmn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--<meta name="apple-itunes-app" content="app-id=683430709">-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43021003-1', 'tapfit.co');
    ga('send', 'pageview');
    </script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "6703c587-a8f8-4920-9f59-f892bc71d453", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>

    <!-- Header -->
    <%= render 'shared/navigation' %>

    <!-- Body -->
    <%= yield %>

    <!-- Footer -->
    <%= render 'shared/footer' %>

</body>
</html>
